[submodule "third_party/humanoid-gym"]
	path = third_party/humanoid-gym
	url = ../../kscalelabs/humanoid-gym.git
[submodule "third_party/IsaacGymEnvs"]
	path = third_party/IsaacGymEnvs
	url = ../../kscalelabs/IsaacGymEnvs.git
