[tool.black]

line-length = 120
target-version = ["py38"]
include = '\.pyi?$'

[tool.pytest.ini_options]

addopts = "-rx -rf -x -q --full-trace"
testpaths = ["tests"]

markers = [
    "slow: Marks test as being slow",
]

[tool.mypy]
ignore_missing_imports = true
pretty = true
show_column_numbers = true
show_error_context = true
show_error_codes = true
show_traceback = true
disallow_untyped_defs = true
strict_equality = true
allow_redefinition = true

warn_unused_ignores = true
warn_redundant_casts = true

incremental = true
namespace_packages = false

exclude = ["sim/envs/", "sim/algo/*", "sim/utils/*", "sim/sim2sim.py",
           "sim/scripts/create_mjcf.py", "sim/scripts/create_fixed_torso.py",
           "sim/sim2sim_old.py", "sim/play_old.py"]

[[tool.mypy.overrides]]

module = [
    "isaacgym.*",
    "mujoco.*",
]

[tool.isort]

profile = "black"
known_third_party = ["wandb"]

[tool.ruff]

line-length = 120
target-version = "py38"

exclude = ["sim/envs/", "sim/algo/", "sim/play.py", 
           "sim/sim2sim.py","sim/utils", "sim/scripts/create_mjcf.py",
           "sim/play_old.py", "sim/sim2sim_old.py"]

[tool.ruff.lint]

select = ["ANN", "D", "E", "F", "I", "N", "PGH", "PLC", "PLE", "PLR", "PLW", "W"]

ignore = [
    "ANN101", "ANN102",
    "D101", "D102", "D103", "D104", "D105", "D106", "D107",
    "N812", "N817",
    "PLR0911", "PLR0912", "PLR0913", "PLR0915", "PLR2004",
    "PLW0603", "PLW2901",
]


dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[tool.ruff.lint.per-file-ignores]

"__init__.py" = ["E402", "F401", "F403", "F811"]

[tool.ruff.lint.isort]

known-first-party = ["kscale-sim-library", "tests"]
combine-as-imports = true

[tool.ruff.lint.pydocstyle]

convention = "google"
