# requirements-dev.txt

black
darglint
mypy==1.10.0
pytest
ruff
isort
mujoco
mujoco-python-viewer
h5py
imageio
matplotlib
mediapy
numpy
onnx
onnxruntime>=1.19.2
pandas
Pillow
poselib
pygame
python-dotenv
ruamel.base
scipy
setuptools
torch
tqdm
wandb